.main {
    display: flex;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;
}

.card {
    width: 500px;
    height: 500px;
    margin: 10px;
}

.quick-facts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quick-facts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.quick-fact {
    width: 150px;
}